<div class="card" *ngIf="(users$ | async) as users">
    <form class="search" [formGroup]="form">
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input formControlName="email" type="text" pInputText placeholder="Search by email" />
        </p-iconField>
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input formControlName="name" type="text" pInputText placeholder="Search by first or lastname" />
        </p-iconField>
    </form>    

    <p-table   responsiveLayout="stack" [value]="users">
        <ng-template pTemplate="header">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>email</th>
                <th>CompanyName</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.name | username }}</td>
                <td>{{ user.name | username : 'lastName' }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.company?.name }}</td>
                <td class="flex">
                    <p-button class="btn" (click)="onPostsView(user.id)">
                        Posts
                    </p-button>
                    <p-button class="btn" (click)="onTodoView(user.id)">
                        To-do
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>