:host ::ng-deep .p-button {
  transition: 0.3s ease, transform 0.3s ease;
}

:host ::ng-deep .p-button:hover {
  background-color: #b30000;
  transform: scale(1.2);
}

.flex{
  display: flex;
  text-wrap: nowrap;
  gap: 10px;
}

.search {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}