.posts-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;

  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
:host ::ng-deep .p-card .p-card-title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
