<div *ngIf="(posts$ | async) as posts" class="posts-container">
    <div *ngFor="let post of posts" >
        <p-card [header]="post.title" [style]="{ width: '240px' }" class="card">
            <p class="card-text">
                {{ post.body }}
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Details" (click)="dialogDetails = post" />
            </ng-template>
        </p-card>
    </div>
</div>

<p-dialog header="Post details" [modal]="true" [(visible)]="!!dialogDetails" [style]="{ width: '25rem' }">
    <ng-container *ngIf="dialogDetails">
        <h1>{{ dialogDetails.title }}</h1>
        <p>{{  dialogDetails.body }}</p>
        <p-button label="Close" (onClick)="dialogDetails = null" />
    </ng-container>
</p-dialog>