
.page {
    padding: 20px 0;
    nav {
        margin-top: 5px;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 50%;
    }

    .header {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid gray;

        .title-name {
            cursor: pointer;
        }
    }
}
:host ::ng-deep .active-page .p-button.p-button-link {
    background: #3B82F6;
    color: white;
}
@media screen and (max-width: 1024px) {
    .content {
        width: 80%;
    }
}