<div class="page">
  <header class="header">
      <span routerLink="/" routerLink="users" class="title-name">CrocoTask</span>
      <span>{{ currentDate | date : 'short' }}</span>
  </header>
  <nav>
      <p-button [link]="true" routerLink="users" routerLinkActive="active-page">
          Users
      </p-button>
      <p-button [link]="true" routerLink="posts" routerLinkActive="active-page">
          Posts
      </p-button>
  </nav>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer>All rights reserved!!!</footer>
</div>